<%= form_with model: movie, url: filter_movies_path  do |form| %>
  <div>
    <%= form.label :category_name %>
    <%= form.collection_select :category, categories, :id, :name, {selected: params[:category_id],
    include_blank: "All Categories"  } %> 
    <%= form.submit("Filter", {class: 'btn btn-success'}) %>
  </div>
<% end %>