<%= form_with model: movie do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field(:title, {class: 'form-control'}) %>
    <% movie.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :category_name %>
    <%= form.collection_select :category_id, categories, :id, :name %> 
  </div>
  
  <div>
    <%= form.label :text %>
    <%= form.text_field(:text, {class: 'form-control'}) %>
    <% movie.errors.full_messages_for(:text).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<br/>
  
  <div>
    <%= form.submit({class: 'btn btn-success'}) %>
  </div>

<% end %>