<%= form_with model: movie, url: set_rating_movie_path, method: :post do |form|%>
  <div>
    <%= form.label :rating %>
    <%= form.select(:rating, options_for_select(1..10), include_blank: "Do not ready to answer") %>
  </div>
   
  <div>
    <%= form.submit({method: :post, class: 'btn btn-success'})%>
  </div>
<% end %>