<h3>Movies</h3> 
<%= render "filter", movie: @movie, categories: @categories %>
<%= button_to "New movie", new_movie_path, method: :get, class: 'btn btn-outline-success' %>

<table>

    <tr>
        <th> Movie </th>
        <th> Category </th>
        <th> About </th>
    </tr>
    <% @movies.each do |movie| %>
        <tr>
            <td> <%= movie.title %> </td>
            <td> <%= movie.category.name %> </td>
            <td> <%= movie.text %> </td>
            <td> <%= button_to "Show", movie_path(movie), method: :get, class: 'btn btn-primary' %> </td>
            <td> <%= button_to "Edit", edit_movie_path(movie), method: :get, class: 'btn btn-info' %> </td>
            <td> <%= button_to "Destroy", movie_path(movie), 
                    class: 'btn btn-danger',
                    method: :delete,
                    data: { confirm: "Are you sure?" } %> </td>
        </tr>  
    <% end %>
</table>
<%= paginate @movies, theme: 'bootstrap-5' %> 
