<h2>Movie info</h2>

Name: <%= @movie.title %><br/>
About: <%= @movie.text %><br/>

<br/>
<% if user_signed_in?%>
    <% if @rating.nil? %>
        <%= render "rating", movie: @movie %>
    <% else %>
        <%= render "rating_by_user", rating: @rating %>
    <% end %>
<% end %>
<br/>
<br/>
<%= render "average_rating", movie: @movie %>
<br/>
<br/>
<%= link_to "Back to list", movies_path %>
