<%= form_with model: category do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field(:name, {:class => 'form-control'}) %>
    <% category.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<br/>
  
  <div>
    <%= form.submit({:class => 'btn btn-success'}) %>
  </div>

<% end %>