<h2>Categories</h2>
<%= button_to "New Category", new_category_path, method: :get, class: 'btn btn-outline-success' %>
<table>
    <tr>
        <td> Category </td>
    <% @categories.each do |category| %>
        <tr>
            <td> <%= category.name %> </td>
            <td> <%= button_to "Show", category_path(category), method: :get, class: 'btn btn-primary' %> </td>
            <td> <%= button_to "Edit", edit_category_path(category), method: :get, class: 'btn btn-info' %> </td>
            <td> <%= button_to "Destroy", category_path(category), 
                    class: 'btn btn-danger',
                    method: :delete,
                    data: { confirm: "Are you sure?" } %> </td>
        </tr>
    <% end %>
    <br/>
</table>
<%= paginate @categories, theme: 'bootstrap-5' %>
