<!DOCTYPE html>
<html>
  <head>
    <title>Imdb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <nav class="d-inline-flex mt-2 mt-md-0" style="margin-left: 15px;" >
        <a class="me-3 py-2 text-dark text-decoration-none" href="/movies">Movies</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/categories">Categories</a>
      </nav>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <% if user_signed_in? %>
        <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: "btn me-3 py-2 text-dark text-decoration-none" %>
      <% else %>
        <a class="py-2 text-dark text-decoration-none" href="/users/sign_in">Sign in</a>
      <%end%>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
